<!DOCTYPE html>
<html lang="AGHU Report Toll">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ferramenta de relatórios para o sistema AGHU">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AGHU Report Tool </title>
    <link rel="stylesheet" href="vendors/material-design-lite/material.min.css">
    <link rel="stylesheet" href="vendors/morris.js/morris.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="aghureport">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">AGHU Report Tool</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout__title">Relatórios</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">Hello</a>
        <a class="mdl-navigation__link" href="#">World.</a>
        <a class="mdl-navigation__link" href="#">How</a>
        <a class="mdl-navigation__link" href="#">Are</a>
        <a class="mdl-navigation__link" href="#">You?</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col" ng-controller="TaxaDePermanenciaController as permanencia">
          <div class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-color--primary">
              <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">{{cardlabel}}</h2>
              </div>
              <div class="chart"
              bar-chart
              bar-data='ocupacao'
              bar-x='competencia_internacao'
              bar-y='yaxis'
              bar-labels='label'
              bar-colors='["#536DFE"]'>
              </div>
              <div class="mdl-card__actions  mdl-color--primary mdl-color-text--primary-contrast">
                Menu
              </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col" ng-controller="TaxaDeMortalidadeController as mortalidade">
          <div class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-color--primary">
              <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">{{cardlabel}}</h2>
              </div>
              <div class="chart"
              bar-chart
              bar-data='mortalidade'
              bar-x='competencia_internacao'
              bar-y='yaxis'
              bar-labels='label'
              bar-colors='["#D32F2F"]'>
              </div>
              <div class="mdl-card__actions  mdl-color--primary mdl-color-text--primary-contrast">
                Menu
              </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col" ng-controller="MortalidadeEspecialidadeController as mortalidade">
          <div class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-color--primary">
              <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">{{cardlabel}}</h2>
              </div>
              <div class="chart"
              bar-chart
              bar-data='mortalidade'
              bar-x='competencia_internacao'
              bar-y='yaxis'
              bar-labels='label'>
              </div>
              <div class="mdl-card__actions  mdl-color--primary mdl-color-text--primary-contrast">
                {{yaxis}}<hr>
                {{label}}<hr>
                {{mortalidade}}
              </div>
            </div>
        </div>
      </div>
    </main>
  </div>
  <script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="vendors/raphael/raphael.js"></script>
  <script type="text/javascript" src="vendors/morris.js/morris.min.js"></script>
  <script type="text/javascript" src="vendors/angular-morris-chart/src/angular-morris-chart.js"></script>
  <script src="vendors/material-design-lite/material.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
