<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ferramenta para visualização de relatórios para o sistema AGHU">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AGHU Report Tool
    </title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=pt-br">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="vendors/material-design-lite/material.min.css">
    <link rel="stylesheet" href="vendors/morris.js/morris.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="aghureport">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">AGHU Report Tool</span>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <span class="mdl-layout-title">Relatórios</span>
          <!-- <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item">
                <i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div> -->
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <!-- <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Inbox</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>
            <span class="visuallyhidden">Help</span>
          </a> -->
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet" ng-controller="TaxaDePermanenciaController">
            <div class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-color--primary">
                <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">
                  <i class="material-icons">hotel</i>
                  {{cardlabel}}</h2>
              </div>
              <div>
                <div id="permanencia"></div>
              </div>
              <div class="mdl-card__actions">
                <div class="mdl-grid">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                    <input class="mdl-textfield__input" type="text" id="inicio" ng-model="inicio">
                    <label class="mdl-textfield__label" for="inicio">Início</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                    <input class="mdl-textfield__input" type="text" id="fim" ng-model="fim">
                    <label class="mdl-textfield__label" for="fim">Fim</label>
                  </div>
                </div>
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--4-col">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="updateChart(inicio, fim)">
                      <i class="material-icons">autorenew</i> Atualizar
                    </button>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="saveImage()">
                      <i class="material-icons">archive</i> Salvar
                    </button>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col">
                    <button class="mdl-button mdl-js-button mdj-js-ripple-effect">
                      <i class="material-icons">view_list</i> Copiar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet" ng-controller="TaxaDeMortalidadeController as mortalidade">
          <div class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-color--primary">
              <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">{{cardlabel}}</h2>
              </div>
              <div class="chart"
              bar-chart
              bar-data='mortalidade'
              bar-x='{{xaxis}}'
              bar-y='yaxis'
              bar-labels='label'
              bar-colors='["#D32F2F"]'>
              </div>
              <div class="mdl-card__actions  mdl-color--primary mdl-color-text--primary-contrast">
                Menu
              </div>
            </div>
        </div> -->

          <!-- <div class="mdl-cell mdl-cell--12-col" id="teste">
            <div class="mdl-card mdl-shadow--4dp">
              <div class="mdl-card__title mdl-color--primary">
                <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">{{cardlabel}}</h2>
              </div>
              <div class="chart"></div>
              <div class="mdl-card__actions  mdl-color--primary mdl-color-text--primary-contrast"></div>
            </div>
          </div> -->

        </div>
      </main>
    </div>
    <script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="vendors/raphael/raphael.js"></script>
    <script type="text/javascript" src="vendors/morris.js/morris.min.js"></script>
    <script src="vendors/material-design-lite/material.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services/dateService.js"></script>
    <script type="text/javascript" src="js/svg2png.js"></script>
  </body>
</html>
